.status-available{
    display: flex;
    justify-content: center;
    p{
        padding: 4px 8px;
        border-radius: 14px;
        color: white;
        background-color: #00b074;
    }
}
.status-unavailable{
    display: flex;
    justify-content: center;
    p{
        padding: 4px 8px;
        border-radius: 14px;
        color: white;
        background-color: #c23737;
    }
}