header {
    position: fixed!important;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease;
    background-color: white;
    border-bottom: 2px solid #00b074;
    svg{
        margin-left: 3rem;
        height: 60px;
        width: auto;
    }
    .header-control {
        .nav-handle {
            &__menu-btn {
                border: none;
                background-color: white;

                i {
                    font-size: 30px;
                    color: red;
                }
            }

            &__list {
                &__items {
                    &--name {
                        display: flex;
                        align-items: center;
                        margin: 0px 20px;
                        text-transform: uppercase;

                        @include max-width-1200 () {
                            margin: 0px 12px;
                        }

                        a {
                            font-size: 16px;
                            font-weight: 650;
                            color:black !important;
                        }
                        &:hover{
                            a{
                                color: #00b074 !important;
                            }
                        }
                    }
                    .user-block{
                        position: relative;
                        &:hover {
                            .selected-filter{
                                svg{
                                    color: black;
                                }
                                .subnav{
                                    display: block;}
                            }
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                        .selected-filter {
                            position: absolute;
                            top: 6px;
                            right: -19px;
                            &>a{
                                font-size: 15px;
                            }
                            
                            .subnav {
                                display: none;
                                min-width: 160px;
                                position: absolute;
                                top: 36px;
                                right: 0%;
                                background: white;
                                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
                                border-radius: 0px 0px 8px 8px ;
                  
                                a {
                                    line-height: 38px;
                                    color: rgba(60, 60, 67, 0.6);
                                    text-transform: capitalize;
                                    padding: 0 12px;
                                    font-size: 14px;
                                    &:hover{
                                        color: black;
                                    }
                                }
                                li:last-child{
                                    a{
                                        color: #c23737;
                                    }
                                }


                
                            }
                        }
                    }
                }
            }

        }
    }

    .menu-mobile {
        transition: transform .3s ease-in-out;
        background-color: white;

        &__header {
            font-size: 24px;
            font-weight: 500;
            color: #373737 !important;
        }

        .close-btn {
            font-size: 32px;
            padding: 0px;
        }

        &__content {
            align-items: flex-start;

            .nav-handle__list__items--name {
                margin-bottom: 20px;
            }

            .btn-contact {
                width: 100%;
                a:focus{
                    box-shadow: none;
                }

            }
        }

    }
}